
.titulo{
 display:flex;
 flex-direction: column;
}



.player-one{

  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

.img-arma{
  height:300px;
  float: left;
  display: block;
  position: absolute;  
}

.arma{
  width: 150px;
  height: 40px;
  color: rgb(226, 148, 52);
  background-color: rgb(66, 52, 35);
  border-color: gold;
}
.arma:hover{
  width: 150px;
  height: 40px;
  color: rgb(66, 52, 35);
  background-color: gold;
}
.arma-Piedra{
  margin-left: 100px;
  margin-bottom: 30px
}

.arma-Papel{
  margin-left: 67px;
  margin-bottom: 30px
}
.arma-Tijera{
  margin-left: 50px;
  margin-bottom: 30px
}

.arma-Lagarto{
  margin-left: 67px;
  margin-bottom: 30px
}
.arma-Spock{
  margin-left: 100px;
}

.seleccion{
  position: fixed;
  margin-top: 10px;
  margin-left: 220px;
}

.seleccion2{
  margin-top: 87px;
  position: fixed;
 float: inherit;
}

.ready{
  margin-left: 150px;
  margin-top: 15px;
  position: relative;
  max-width: 360px;
  height: 45px;
  background-color: gold;
  border-radius: 45%;
  
}